<%- include("partials/header"); -%>
<form method="POST" action="/gpa">
     <div class = "gpaDiv">
          <%  subjects.forEach(function(subject){ %>
            <label for="Subject" class = "sub"><%=subject%> </label>
            <select name="subject" id="subjects" class = "btn">
              <option value=10>O</option>
              <option value=9>A+</option>
              <option value=8>A</option>
              <option value=7>B+</option>
              <option value=6>B</option>
              <option value=0 selected>RA</option>
            </select> <br>  
           <% }); %>
     </div>

     <button type="submit" class = "btn btn-lg btn-success subBtn">Calculate GPA</button>
	 <% if(gpa === 0 ) { %>
		<label hidden = "true" class = "gpaLabel"><%= gpa %></label>
	 <% } else { %>
		<label class = "gpaLabel"><%= gpa %></label>
	 <% } %>
	 
</form>
<%- include("partials/footer"); -%>
