<%- include("partials/header"); -%>
<form method="POST" action="/gpa">
     <div>
          <%  subjects.forEach(function(subject){ %>
            <label for="Subject"><%=subject%> </label>
            <select name="subject" id="subjects">
              <option value=10>O</option>
              <option value=9>A+</option>
              <option value=8>A</option>
              <option value=7>B+</option>
              <option value=6>B</option>
              <option value=0 selected>RA</option>
            </select> <br>  
           <% }); %>
     </div>

     <button type="submit">Calculate GPA</button>
	 <% if(gpa === 0 ) { %>
		<label hidden = "true"><%= gpa %></label>
	 <% } else { %>
		<label><%= gpa %></label>
	 <% } %>
	 
</form>
<%- include("partials/footer"); -%>

	
